numpy==1.26.0
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
scipy==1.14.1
six==1.16.0
torch==2.0.0
tqdm==4.66.6
typing_extensions==4.12.2
matplotlib==3.9.2
seaborn==0.13.2
omegaconf==2.3.0
wandb==0.18.7
scikit-learn==1.5.2
recbole==1.2.0
ray==2.39.0
kmeans-pytorch==0.3
pyarrow==18.0.0
bottleneck==1.4.2
catboost==1.2.7
mlxtend==0.23.3